- resource_class.omniauth_providers.each do |provider|
  .row
    .col-xs-12
      = link_to "users/auth/#{provider}", class: "btn btn-default" do
        %span{ class: "fa fa-#{provider} fa-lg" }
        = provider.capitalize
