<tbody>
  {{#each model.deck_cards as |deck_card|}}
    {{#link-to 'deck.edit' deck_card tagName='tr'}}
      <td>{{short-card card=deck_card.card}}</td>
      <td>{{deck_card.affiliation}}</td>
      <td><button {{action "remove" deck_card}} class="btn btn-danger btn-xs">Remove</button></td>
    {{/link-to}}
  {{/each}}
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td>{{#link-to "deck.new" model}}Add{{/link-to}}</td>
  </tr>
</tfoot>
