<div class="row">
	<div class="col-xs-12">
		<button {{action 'oauth-twitter'}} class="btn btn-default">
			<span class="fa fa-twitter fa-lg"></span>
			Twitter
		</button>
	</div>
	<div class="col-xs-12">
		<button {{action 'oauth-google'}} class="btn btn-default">
			<span class="fa fa-google fa-lg"></span>
			Google
		</button>
	</div>
	<div class="col-xs-12">
		<button {{action 'oauth-facebook'}} class="btn btn-default">
			<span class="fa fa-facebook fa-lg"></span>
			Facebook
		</button>
	</div>
</div>
