%div.card
  %div{class: ["color", full.color], data: {color: full.color}}
    .title= full.title
    .subtitle= full.subtitle
    .description= full.short_desc
    %div{class: ["faction", full.faction], data: {faction: full.faction}, title: full.team}
      