<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<header><h1>Decks</h1></header>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each model.decks as |deck|}}
						{{#link-to "deck" deck tagName="tr"}}
							<td>
								{{deck.name}}
								<small>by {{deck.user_name}}</small>
							</td>
							<td>
								{{#link-to "deck.edit" deck}}Edit{{/link-to}}
							</td>
						{{/link-to}}
					{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>
							{{#link-to "decks.new"}}New{{/link-to}}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	{{outlet}}
</div>