<div id="masthead">
	<img src="/images/print-bomb.png" alt="Bomb"/>
	<h1>2R1B</h1>
</div>
<br />
<div class="actions extra-large">
	{{#linkTo 'join'}}<div class="button">Join Game</div>{{/linkTo}}<br />
	{{#linkTo 'sign_in'}}<div class="button">Sign In</div>{{/linkTo}}<br />
	{{#linkTo 'sign_up'}}<div class="button">Sign Up</div>{{/linkTo}}
</div>