<div class="container-fluid offset">
	<div class="row">
		<div id="masthead" class="col-md-12 text-center">
			<img src="/images/print-bomb.png" alt="Bomb"/>
			<header><h1>2R1B</h1></header>
		</div>
	</div>
	<div class="row actions text-center">
		<div class="col-md-4">
			{{#link-to 'sign_in' class='btn btn-default'}}Sign In{{/link-to}}
		</div>
		<div class="col-md-4">
			{{#link-to 'sign_up' class='btn btn-default'}}Sign Up{{/link-to}}
		</div>
		<br />
		<br />
		<div class="col-xs-6">
			{{#link-to 'decks' class='btn btn-default'}}Decks{{/link-to}}
		</div>
		<div class="col-xs-6">
			{{#link-to 'cards' class='btn btn-default'}}Cards{{/link-to}}
		</div>
	</div>
</div>