<header><h1>Join Game</h1></header>
<div id="join_game">
	<div class="field">
		<label>
			Code
			{{input value=code}}
		</label>
	</div>
	<div class="field">	
		<label>
			Name
			{{input value=name}}
		</label>
	</div>
	<div class="actions">
		<button {{action 'join'}}>Join</button>
	</div>
</div>