<div class="container-fluid offset">
	<div class="row">
		<div class="col-md-12 text-center">
			<header><h1>{{name}}</h1></header>
		</div>
	</div>
	{{outlet}}
	<div class="row text-center">
		<div class="col-md-4">
			<button {{action 'sign_out' }} class='btn btn-danger btn-xs'>Sign Out</button>
		</div>
	</div>
</div>