<div class="row text-center">
	<div class="col-md-12">
		{{#link-to 'profile.edit' class='btn btn-default btn-xs'}}Edit Name{{/link-to}}
	</div>
</div>
<hr />
<div class="row text-center">
	<div class="col-xs-6">
		{{#link-to 'games.new' class='btn btn-default'}}New Game{{/link-to}}
	</div>
	<div class="col-xs-6">
		{{#link-to 'join' class='btn btn-primary'}}Join Game{{/link-to}}
	</div>
</div>
<hr />
<div class="row text-center">
	<div class="col-xs-6">
		{{#link-to 'decks' class='btn btn-default'}}Decks{{/link-to}}
	</div>
	<div class="col-xs-6">
		{{#link-to 'cards' class='btn btn-default'}}Cards{{/link-to}}
	</div>
</div>
